# IDE's
.idea
.project
*.sublime-*
*.code-*


# Node.js
node_modules
npm-debug.log


# Build and test tools
dist/
public/assets/*
!public/assets/broken-logo.svg
src/data/articles.generated.ts

# Playwright
playwright-report/
test-results/

# Cache
.sass-cache
.cache


# Operating system
.DS_Store
Thumbs.db


# Other
/.husky
/.reports
.env
.eslintcache
*~
*.log
*.tgz
